<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤖</text></svg>">
  <script type="importmap">
  {
    "imports": {
      "@observablehq/plot": "https://esm.sh/@observablehq/plot@0.6.13",
      "@observablehq/inputs": "https://esm.sh/@observablehq/inputs@0.10.6",
      "d3": "https://esm.sh/d3@7.9.0",
      "htl": "https://esm.sh/htl@0.3.1",
      "@stdlib/random-base-normal": "https://cdn.jsdelivr.net/gh/stdlib-js/random-base-normal@v0.2.2-esm/index.mjs",
      "@stdlib/random-base-lognormal": "https://cdn.jsdelivr.net/gh/stdlib-js/random-base-lognormal@v0.2.2-esm/index.mjs",
      "@stdlib/random-base-beta": "https://cdn.jsdelivr.net/gh/stdlib-js/random-base-beta@v0.2.2-esm/index.mjs",
      "@stdlib/stats-base-dists-normal-logpdf": "https://cdn.jsdelivr.net/gh/stdlib-js/stats-base-dists-normal-logpdf@v0.3.1-esm/index.mjs",
      "@stdlib/stats-base-dists-lognormal-logpdf": "https://cdn.jsdelivr.net/gh/stdlib-js/stats-base-dists-lognormal-logpdf@v0.2.3-esm/index.mjs",
      "@stdlib/stats-base-dists-beta-logpdf": "https://cdn.jsdelivr.net/gh/stdlib-js/stats-base-dists-beta-logpdf@v0.3.1-esm/index.mjs"
    }
  }
  </script>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <div class="main-container">
    {{ content | safe }}
  </div>
  {% if script %}
  <script type="module" src="/{{ page.fileSlug }}/script.js"></script>
  {% endif %}
  <footer>
    <p>&copy; 2026 TP Prescott</p>
  </footer>
</body>
</html>
